# Web Scraping Assignment - 2

In [56]:
#Import all the required packages
import pandas as pd
import selenium
from selenium import webdriver
import time

from selenium.webdriver.common.keys import Keys

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
#Connecting to the webdriver
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
#Getting the required webpage
url="https://www.naukri.com/"
driver.get(url)

In [4]:
#Entering “Data Analyst” in “Skill,Designations,Companies” field
driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Analyst") #job search bar

In [5]:
#Entering “Bangalore” in “enter the location” field.
driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore") #location search bar

In [6]:
driver.find_element_by_xpath("//button[@class='btn']").click() #Clicking the search button

In [10]:
#creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience=[]

Scraping the data using for loops.

In [11]:
#Scraping the job titles
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)

#Scraping the job locations
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]"):
    job_location.append(i.text)
    
#Scraping the company names
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
    
#Scraping the experience required
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]"):
    experience.append(i.text)

In [17]:
#Creating the dataframe from the scraped data and taking only first 10 jobs
jobs=pd.DataFrame({})
jobs["Job Title"]=job_title[:10]
jobs["Location"]=job_location[:10]
jobs["Company"]=company_name[:10]
jobs["Experience Required"]=experience[:10]
#printing dataframe
jobs

,Job Title,Location,Company,Experience Required
0,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
1,Hiring Business data analyst with Strong SQL S...,Bangalore/Bengaluru,Hexaware Technologies Ltd.,9-13 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-5 Yrs
3,Data Analyst - Work from Home,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Innovsource Services Private Limited,1-6 Yrs
5,Sr. Data Analyst DW BI- Immediate Joiners,Remote,Kelly Outsourcing and Consulting Group India P...,5-10 Yrs
6,Business Analyst - Data Analytics,Bangalore/Bengaluru,BankBazaar,1-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
8,Senior Safety Data Analyst - BI,Bangalore/Bengaluru,Novo Nordisk India,5-10 Yrs
9,Business Data Analyst,Bangalore/Bengaluru,NetApp,3-6 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [41]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [42]:
#Getting the required webpage
url="https://www.naukri.com/"
driver.get(url)

In [43]:
#Entering "Data Scientist" in “Skill,Designations,Companies” field
driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist") #job search bar

In [44]:
#Entering "Bangalore" in “enter the location” field.
driver.find_element_by_id("qsb-location-sugg").send_keys("Bangalore") #location search bar

In [45]:
driver.find_element_by_xpath("//button[@class='btn']").click() #Cliaking on the search button

In [46]:
#Creating empty list for scraping data
urls=[]
job_title=[]
job_location=[]
company_name=[]
job_desc=[]

Scraping the data using for loops.

In [47]:
#Scraping the job titles
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
    
#Scraping the job locations
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]"):
    job_location.append(i.text)
    
#Scraping the company names
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
    
#Scraping the job urls to scrape Full Description 
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute('href'))

In [48]:
#Scraping the full description by running for loop over the scraped urls
for i in urls[:10]:
    driver.get(i)
    job_desc.append(driver.find_element_by_xpath("//div[@class='dang-inner-html']").text.replace("\n",""))

In [49]:
#Creating the dataframe from the scraped data and taking only first 10 jobs
jobs=pd.DataFrame({})
jobs["Job Title"]=job_title[:10]
jobs["Location"]=job_location[:10]
jobs["Company"]=company_name[:10]
jobs["Full Job Description"]=job_desc
#printing dataframe
jobs

,Job Title,Location,Company,Full Job Description
0,Senior Data Scientist,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,Roles and ResponsibilitiesJob DescriptionWhat ...
1,"Data Engineers , Data Scientist and SAP",Bangalore/Bengaluru,Teamware Solutions,Dynamic recruiting professional with 7 - 10 ye...
2,Senior Software Engineer - Data Scientist,Bangalore/Bengaluru,Ara Resources,Key Responsibilities:• Harvest Natural Languag...
3,Senior Associate - Data Scientist,Bangalore/Bengaluru,Novotree Minds Consulting Pvt Limited,Roles and ResponsibilitiesAs a Senior Associat...
4,Sr . Data Scientist,Bangalore/Bengaluru,Perform Group,Required Skills:Prior experience developing de...
5,Senior Data Scientist,Bangalore/Bengaluru,Gojek Tech,What You Will DoBuild models (or ML models) th...
6,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,What You Will DoBuild models (or ML models) th...
7,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Kaleidofin,Key Responsibilities:You will work with the fo...
8,Sr Data Scientist (Level 10),Bangalore/Bengaluru,Siemens Limited,This is your role. What part will you playMin ...
9,Sr Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"As as Senior Data Scientist, you will work in ..."

### Q3: In this question you have to scrape data using the filters available on the webpage. You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.

=>The location filter to be used is “Delhi/NCR”
=>The salary filter to be used is “3-6” lakhs

In [56]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [57]:
#Getting the required webpage
url="https://www.naukri.com/"
driver.get(url)

In [58]:
#Entering "Data Scientist" in “Skill,Designations,Companies” field
driver.find_element_by_id("qsb-keyword-sugg").send_keys("Data Scientist") #job search bar

In [59]:
driver.find_element_by_xpath("//button[@class='btn']").click() #Clicking on search button

In [61]:
#Checking the "Delhi/NCR" filter checkbox
driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']//i").click()

time.sleep(4) #waiting for 4 seconds

#Checking the "3-6 lakhs" filter checkbox
driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']//i").click()

In [62]:
#Creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience=[]

Scraping the data using for loops.

In [63]:
#Scraping the job titles
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
    
#Scraping the job locations
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]"):
    job_location.append(i.text)
    
#Scraping the company names
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
    
#Scraping the experience required
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]"):
    experience.append(i.text)

In [64]:
#Creating the dataframe from the scraped data and taking only first 10 jobs
jobs=pd.DataFrame({})
jobs['Job Title']=job_title[:10]
jobs["Location"]=job_location[:10]
jobs["Company"]=company_name[:10]
jobs["Experience Required"]=experience[:10]
#printing dataframe
jobs

,Job Title,Location,Company,Experience Required
0,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
3,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
4,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs
5,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs
6,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs
7,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
8,Data Scientist,Noida,Ashkom Media India Private Limited,3-8 Yrs
9,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [57]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [58]:
#Getting the required webpage
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [59]:
#Entering "Data Scientist" in the job search bar
driver.find_element_by_id("sc.keyword").send_keys("Data Scientist") #job search bar

In [60]:
#Importing Keys package for the Backspace method
from selenium.webdriver.common.keys import Keys

In [61]:
for i in range(5):
    driver.find_element_by_id("sc.location").send_keys(Keys.BACK_SPACE) #Clearing the "Location" search bar

In [62]:
#Entering "Noida" in the location search bar
driver.find_element_by_id("sc.location").send_keys("Noida") #location search bar

In [63]:
#Clicking the search button
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-iixdfr']").click()

In [64]:
#Creating empty lists for scraping the data
company_name=[]
days=[]
rating=[]
urls=[]

Scraping the data using for loops.

In [66]:
#Scraping company names and its urls
for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']"):
    company_name.append(i.text)
    urls.append(i.get_attribute('href'))
    
#Scraping "No. of days ago when the job was posted"
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
    days.append(i.text)

In [67]:
#Running for loop over first 10 urls fetched
for i in urls[:10]:
    driver.get(i) #Getting each job page
    
    try:
        r=driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        rating.append(r.text.replace("\n",'')) #appending Rating if its found
    except:
        rating.append("-") #If no Rating is found, then "-" is appended

In [68]:
#Creating the dataframe from the scraped data and taking only first 10 companies
jobs=pd.DataFrame({})
jobs["Company Name"]=company_name[:10]
jobs["No. of Days ago when Job was posted"]=days[:10]
jobs["Ratings"]=rating
#printing dataframe
jobs

,Company Name,No. of Days ago when Job was posted,Ratings
0,Liberin Technologies Private Limited,7d,-
1,Innovacer,24h,3.8★
2,Pixel Vision,18d,-
3,Biz2Credit Inc,30d+,4.1★
4,Ericsson,3d,4.1★
5,Salasar New Age Technologies,30d+,-
6,Microsoft,4d,4.4★
7,Newgen Software,18d,3.3★
8,NatWest Group,1d,3.9★
9,Crowe,30d+,3.8★

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. Scrape data for first 10 companies.

In [2]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
#Getting the required webpage
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [4]:
#Entering "Data Scientist" in the job search bar
driver.find_element_by_id("KeywordSearch").send_keys('Data Scientist') #job search bar

In [7]:
for i in range(5):
    driver.find_element_by_id("LocationSearch").send_keys(Keys.BACK_SPACE) #Clearing the "Location" search bar

In [8]:
#Entering "Noida" in the location search bar
driver.find_element_by_id("LocationSearch").send_keys("Noida") #location search bar

In [9]:
#Clicking the search button
driver.find_element_by_id("HeroSearchButton").click()

In [19]:
#Creating empty lists for scraping data
company_name=[]
no_salaries=[]
avg_salary=[]
minsal=[]
maxsal=[]

Scraping the data using for loops.

In [20]:
#Scraping the company names
for i in driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']"):
    company_name.append(i.text)
    
#Scraping the Number of Salaries
for i in driver.find_elements_by_xpath("//span[@class='m-0 css-1b6bxoo']"):
    no_salaries.append(i.text)

#Scraping the average salary    
for i in driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3"):
    avg_salary.append(i.text)

#Scraping the Min salary
for i in driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[1]"):
    minsal.append(i.text)

#Scraping the Max salary
for i in driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p[2]"):
    maxsal.append(i.text)

In [21]:
#Creating the dataframe from the scraped data and taking only first 10 companies
company=pd.DataFrame({})
company["Company Name"]=company_name[:10]
company["Minimum Salary"]=minsal[:10]
company["Maximum Salary"]=maxsal[:10]
company["Average Salary"]=avg_salary[:10]
company["No of Salaries"]=no_salaries[2:12]
#printing dataframe
company

,Company Name,Minimum Salary,Maximum Salary,Average Salary,No of Salaries
0,Tata Consultancy Services (13461),₹3L,₹13L,"₹6,12,205",18 salaries
1,IBM,₹6L,₹27L,"₹9,00,000",18 salaries
2,Accenture,₹6L,₹22L,"₹11,63,336",15 salaries
3,Delhivery,₹5L,₹1Cr,"₹12,18,244",15 salaries
4,Ericsson-Worldwide,₹4L,₹16L,"₹7,39,238",14 salaries
5,UnitedHealth Group,₹8L,₹15L,"₹12,80,000",14 salaries
6,Valiance Solutions,₹5L,₹15L,"₹8,63,750",10 salaries
7,EXL Service,₹6L,₹15L,"₹11,10,000",9 salaries
8,Optum,₹8L,₹20L,"₹14,23,677",9 salaries
9,Optum Global Solutions,₹4L,₹22L,"₹13,28,697",9 salaries

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [47]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [48]:
#Getting the required webpage
url="https://www.flipkart.com/"
driver.get(url)

In [49]:
#Entering "sunglasses" in the search bar
driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input").send_keys("sunglasses") #product search bar

In [50]:
#Clicking the search button
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [54]:
#Creating empty lists for scraping data
brand=[]
prod_desc=[]
price=[]
discount=[]

Scraping data from the first page.

In [55]:
#Scraping the brand names
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)

#Scraping the product descriptions
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']"):
    prod_desc.append(i.text)

#Scraping the prices
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)
    
#Scraping the discounts
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    discount.append(i.text)

#Clicking on Next button
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

Scraping data from the next two pages.

In [56]:
for i in range(2):
    #Scraping the brand names
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    
    #Scraping the product descriptions
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']"):
        prod_desc.append(j.text)
    
    #Scraping the prices
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(j.text)
    
    #Scraping the discounts
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(j.text)
        
    #Clicking on next button
    driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]").click()
    time.sleep(4) #Waiting for 4 seconds so that the page gets loaded

In [58]:
#Checking the length of each list
print(len(brand))
print(len(prod_desc))
print(len(price))
print(len(discount))

120
120
120
120

In [59]:
#Creating the dataframe from the scraped data and taking only first 100 sunglasses
sunglasses=pd.DataFrame({})
sunglasses["Brand"]=brand[:100]
sunglasses["Product Description"]=prod_desc[:100]
sunglasses["Price"]=price[:100]
sunglasses["Discount"]=discount[:100]
#printing dataframe
sunglasses

,Brand,Product Description,Price,Discount
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,VINCENT CHASE,Polarized Round Sunglasses (53),₹799,60% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
...,...,...,...,...
95,Silver Kartz,UV Protection Oval Sunglasses (56),₹284,76% off
96,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹345,62% off
97,Fastrack,UV Protection Sports Sunglasses (Free Size),₹771,14% off
98,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
99,ROYAL SON,"Gradient, UV Protection Cat-eye, Over-sized Su...",₹664,55% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to scrape the attributes.

1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [12]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [13]:
#Getting the required webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [14]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() #Clicking on "All reviews"

In [15]:
#Creating empty lists for scraping data
rating=[]
review=[]
ful_review=[]
urls=[]

In [16]:
#Running for loop over 10 pages as each page consists of 10 reviews
for i in range(10):
    #Scraping the ratings
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
    
    #Scraping the review summaries
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(j.text)
    
    #Scraping the full reviews
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']//div//div"):
        ful_review.append(j.text)
        
    #Scraping the urls for the next nine pages
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)#Getting the next web page
    time.sleep(4) #Waiting for 4 seconds so that the page gets loaded

In [17]:
#checking the length of each list
print(len(rating))
print(len(review))
print(len(ful_review))

100
100
100

In [18]:
#Creating the dataframe from the scraped data and taking only first 100 reviews
reviews=pd.DataFrame({})
reviews["Ratings"]=rating
reviews["Review Summary"]=review
reviews["Full Review"]=ful_review
#printing dataframe
reviews

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
97,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Worth every penny,It’s been almost a month since I have been usi...
99,5,Terrific,Really worth of money. i just love it. It is t...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [31]:
#Connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [32]:
#Getting the required webpage
url="https://www.flipkart.com/"
driver.get(url)

In [33]:
#entering "sneakers" in the product search bar
driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input").send_keys("sneakers") #product search bar

In [34]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click() #clicking on the search button

In [35]:
#Creating empty lists for scraping data
brand=[]
prod_desc=[]
price=[]
discount=[]

Scraping data from the first page.

In [36]:
#Scraping the brand names
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)

#Scraping the product descriptions
for i in driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]"):
    prod_desc.append(i.text)

#Scraping the prices
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)

#Scraping the discounts
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
    discount.append(i.text)
    
#Clicking the Next button
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
time.sleep(4)

Scraping data from the next two pages.

In [37]:
#Using for loop to run over two pages
for i in range(2):
    #Scraping the brand names
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)

    #Scraping the product descriptions
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]"):
        prod_desc.append(j.text)

    #Scraping the prices
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(j.text)

    #Scraping the discounts
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
        discount.append(j.text)
     
    #clicking on the next button
    driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]").click()
    time.sleep(4)

In [39]:
#checking the length of each list
print(len(brand))
print(len(prod_desc))
print(len(price))
print(len(discount))

120
120
120
120

In [40]:
#Creating the dataframe from the scraped data and taking only first 100 sneakers data
sneakers=pd.DataFrame({})
sneakers["Brand"]=brand[:100]
sneakers["Product Description"]=prod_desc[:100]
sneakers["Price"]=price[:100]
sneakers["Discount"]=discount[:100]
#printing dataframe
sneakers

,Brand,Product Description,Price,Discount
0,Echor,HAWK21 Sneakers For Men,₹599,40% off
1,Zorth,Sneakers For Men,₹449,55% off
2,Magnolia,Sneakers For Men,₹377,62% off
3,Numenzo,Sneakers For Men,₹378,62% off
4,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
...,...,...,...,...
95,bluemaker,casual for men Sneakers For Men,₹474,52% off
96,Jack Diamond,Sneakers For Men,₹635,36% off
97,CAMPUS,EXPLORE Sneakers For Men,"₹1,329",30% off
98,tigonis,Sneakers For Men,₹331,81% off
99,India hub,Fashionable casual sneakers shoes Sneakers For...,₹404,86% off

### Q9: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [51]:
#connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [52]:
#getting the required webpage
url="https://www.myntra.com/shoes"
driver.get(url)

In [53]:
#checking the "Black" color filter radio button
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

time.sleep(4) #Giving few seconds for the webpage to load

#checking the price filter check box
driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()

In [54]:
#Creating empty lists for sscraping data
brand=[]
description=[]
price=[]

In [55]:
#Using for loop to scrape the data from two pages
for j in range(2):
    #Scraping the brand names
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(i.text)
    
    #Scraping the shoe descriptions
    for i in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description.append(i.text)
    
    #Scraping the prices
    for i in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(i.text)
       
    #Clicking on the next button
    driver.find_element_by_xpath("//li[@class='pagination-next']//a").click()
    time.sleep(4) #Waiting for 4 seconds for the webpage to load

In [56]:
#checking the length of each list
print(len(brand))
print(len(description))
print(len(price))

100
100
100

In [57]:
#Creating the dataframe from the scraped data for shoes
shoes=pd.DataFrame({})
shoes["Brand"]=brand
shoes["Shoe Description"]=description
shoes["Price"]=price
#printing dataframe
shoes

           Brand                Shoe Description                      Price
0           ALDO                    Men Sneakers                   Rs. 9999
1           Nike   Men ZOOM SPAN 3 Running Shoes  Rs. 5396Rs. 7195(25% OFF)
2         ADIDAS       Women Response SR Running  Rs. 6079Rs. 7599(20% OFF)
3           Nike     Men Jordan Max Aura 3 Shoes                  Rs. 10295
4           Nike     Men SPEEDREP Training Shoes  Rs. 5396Rs. 7195(25% OFF)
..           ...                             ...                        ...
95          Geox      Men Solid Leather Sneakers  Rs. 8099Rs. 8999(10% OFF)
96  Hush Puppies          Men Leather Monk Shoes  Rs. 5399Rs. 5999(10% OFF)
97         Ruosh             Men Textured Derbys  Rs. 5394Rs. 8990(40% OFF)
98  Vanilla Moon         Women Solid Block Heels                   Rs. 5990
99      RAPAWALK  Standard Width Leather Oxfords                   Rs. 8850

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [44]:
#connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [45]:
#getting the required webpage
url=' https://www.amazon.in/'
driver.get(url)

In [46]:
#entering "laptop" in the product search bar
driver.find_element_by_id("twotabsearchtextbox").send_keys("Laptop") #product search bar

In [47]:
driver.find_element_by_id("nav-search-submit-button").click() #clicking on the search button

In [48]:
#creating empty lists for scraping data
title=[]
ratings=[]
price=[]
urls=[]

In [50]:
#clicking the checkbox for "Intel Core i7"
driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[17]/li[26]/span/a/span").click()

time.sleep(4) #Giving few seconds for the webpage to load

In [52]:
#Once webpage is loaded, clicking the checkbox for "Intel Core i9"
driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[17]/li[28]/span/a/span").click()

In [53]:
#Scraping the titles of laptop
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
    title.append(i.text)

#Scraping the urls for each laptop
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute('href'))

In [54]:
#Running for loop over first 10 urls to scrape price and ratings
for i in urls[:10]:
    driver.get(i) #getting each url page
    try:
        #Scraping the price
        p=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        price.append(p.text)
    except:
        price.append("-") #If price is not present, then appending it with "-"
        
    try:
        #Scraping the ratings
        r=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
        ratings.append(r.text)
    except:
        ratings.append("-") #If ratings is not present, then appending it with "-"

In [55]:
#Creating the dataframe from the scraped data and taking only first 10 laptops
laptops=pd.DataFrame({})
laptops["Title"]=title[:10]
laptops["Price"]=price
laptops["Ratings"]=ratings
#printing dataframe
laptops

,Title,Price,Ratings
0,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...","₹1,07,990.00",4.5 out of 5
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"₹1,09,990.00",4 out of 5
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹84,990.00",4.4 out of 5
3,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","₹81,990.00",3.8 out of 5
4,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹34,990.00",3.9 out of 5
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"₹86,990.00",4.2 out of 5
6,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","₹81,999.00",4.1 out of 5
7,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹39,990.00",3.2 out of 5
8,"OMEN 17 Gaming Laptop, NVIDIA GeForce RTX 2070...",-,4.5 out of 5
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"₹88,990.00",4.1 out of 5

### Thank you!