#                              WEB SCRAPING ASSIGNMENT-2

In [1]:
#Firstly lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.commom.exceptions import StaleElementReferenceException

ModuleNotFoundError: No module named 'selenium.commom'

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [309]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [310]:
#Getting the required webpage
url="https://www.naukri.com/"
driver.get(url)

In [311]:
#finding element for Designation Search Bar
search_desig=driver.find_element_by_id("qsb-keyword-sugg")
#Sending required key text to the element found.
search_desig.send_keys("Data Analyst")

In [312]:
#finding element for Location Search bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
#sending required key text to the element found
search_loc.send_keys("Bangalore")

In [313]:
#do click using XPath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

Now, we have reached our required page having Designation as Data Analyst and Location as Bangalore. Now, extract all the tags as required.

First, lets extract the tags for job_titles

In [314]:
#Extracting all the tags having job_titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [315]:
#Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract first 10 job titles text.
job_titles=[]
for i in title_tags[0:10]:
    job_titles.append(i.text)

In [316]:
#Now, we will extract all the tags where we have Location of the job.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

Now, we have all the tags for Job Location. We will extract the text of first 10 from these tags one by one by looping over these tags.

In [317]:
location_list=[]
for i in location_tags[0:10]:
    location_list.append(i.text)

In [318]:
#so lets extract all the tags having the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

With this, we have all the tags in which there are company names.
Now, lets extract the text of first 10 from these tags one by one using loop.

In [319]:
company_list=[]
for i in company_tags[0:10]:
    company_list.append(i.text)

In [320]:
#So lets extract all the tags having the experience required.
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [321]:
#Extracting text from the tags one by one using loop.
exp_list=[]
for i in exp_tags[0:10]:
    exp_list.append(i.text)

In [322]:
#Checking the length of all the attributes
print(len(job_titles))
print(len(location_list))
print(len(company_list))
print(len(exp_list))

10
10
10
10

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [323]:
#Finally create a dataframe of the scraped data.
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Locations']=location_list
jobs['Company']=company_list
jobs['Required Experience']=exp_list
jobs

,Title,Locations,Company,Required Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs
5,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
6,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [59]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [60]:
#Getting the required webpage
url2="https://www.naukri.com/"
driver.get(url2)

In [61]:
#finding element for Designation  search bar
search_desig=driver.find_element_by_id("qsb-keyword-sugg")

In [62]:
#Sending required key text to the element found.
search_desig.send_keys("Data Scientist")

In [63]:
#finding element for Location search bar
search_loc=driver.find_element_by_id("qsb-location-sugg")

In [64]:
#Sending required key text to the element found.
search_loc.send_keys("Bangalore")

In [65]:
#do click using XPath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

Now, we have reached our required page having Designation as Data Analyst and Location as Bangalore. Now, extract all the tags as required.

First, lets extract the tags for job_titles.

In [48]:
#Extracting all the element tags for job titles
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [49]:
#Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract first 10 job titles text.
job_titles=[]
for i in job_tags[0:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Analytics & AI Product Mgmt - Sr. Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, Modeling',
 'Data Scientist - IBM Garage',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Credit risk',
 'Big Data - Data Scientist',
 'SDE Lead Data Scientist-L3']

In [50]:
#Now, we will extract all the tags where we have Location of the job.
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

Now, we have all the tags for Job Location. We will extract the text of first 10 from these tags one by one by looping over these tags.

In [51]:
location_list=[]
for i in location_tags[0:10]:
    location_list.append(i.text)
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [52]:
#Now, lets extract all the tags having the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

With this, we have all the tags in which there are company names.
Now, lets extract the text of first 10 from these tags one by one using loop.

In [53]:
company_list=[]
for i in company_tags[0:10]:
    company_list.append(i.text)
company_list

['Inflexion Analytix Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Vijaya Management Services',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Huawei Technologies India Pvt Ltd']

In [54]:
#Fetching url for each job_title page using for loop over job_tags
urls=[]
for i in job_tags:
    urls.append(i.get_attribute('href'))

In [55]:
#Fetched urls
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16209849032539138&xp=1&px=1',
 'https://www.naukri.com/job-listings-analytics-ai-product-mgmt-sr-data-scientist-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-10-to-12-years-290421901995?src=jobsearchDesk&sid=16209849032539138&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-vijaya-management-services-pune-chennai-bangalore-bengaluru-5-to-10-years-290421005579?src=jobsearchDesk&sid=16209849032539138&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16209849032539138&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16209849032539138&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-4-to-9-years-300421904650?src=jobsearchDesk&sid=16209849032539138&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-030521900421?src=jobsearchDesk&sid=16209849032539138&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-credit-risk-scienaptic-systems-bangalore-bengaluru-5-to-10-years-030521500996?src=jobsearchDesk&sid=16209849032539138&xp=8&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16209849032539138&xp=9&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16209849032539138&xp=10&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16209849032539138&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16209849032539138&xp=12&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16209849032539138&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16209849032539138&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16209849032539138&xp=15&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16209849032539138&xp=16&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-100521500393?src=jobsearchDesk&sid=16209849032539138&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-capital-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-060521500976?src=jobsearchDesk&sid=16209849032539138&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16209849032539138&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-o9-solutions-management-india-private-limited-bangalore-bengaluru-2-to-7-years-010521000099?src=jobsearchDesk&sid=16209849032539138&xp=20&px=1']

In [56]:
#Opening each job_title page using get() and then extracting the full job description
ful_desc=[]
for i in urls[0:10]:
    driver.get(i)
    #Here we used xpath using OR function as we have two differeent value for class attribute
    for j in driver.find_elements_by_xpath('//div[@class="dang-inner-html" or @class="clearboth description"]'):
        ful_desc.append(j.text)
    time.sleep(5)

In [57]:
len(ful_desc)#checking the length of fetched description

10

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [58]:
#Finally creating dataframe for the scraped data
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Locations']=location_list
jobs['Companies']=company_list
jobs['Full Job Description']=ful_desc
jobs

,Title,Locations,Companies,Full Job Description
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job Role : Data Scientist/Data Analyst /Busine...
1,Analytics & AI Product Mgmt - Sr. Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Given the increased focus on data and analytic...
2,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Vijaya Management Services,.\nRoles and Responsibilities\nAnalyze structu...
3,"Senior Data Scientist, Modeling","Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Nielsen,"We wont say we can predict the future, but our..."
4,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,As a Data Scientist in the IBM Garage team you...
5,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,"Introduction\nAs a Data Scientist at IBM, you ..."
6,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,"Introduction\nAs a Data Scientist at IBM, you ..."
7,Senior Data Scientist - Credit risk,Bangalore/Bengaluru,Scienaptic Systems,Responsibilities and duties Focus on developin...
8,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,Roles & Responsibilities & Key Skills:\n\nBig ...
9,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,"Business & Team overview:\nFounded in 1987, Hu..."

# Q3: In this question you have to scrape data using the filters available on the webpage.You have to use the location and salary filter. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.

In [215]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [216]:
#Getting the required webpage
url2="https://www.naukri.com/"
driver.get(url2)

In [217]:
#finding element for Designation  search bar
search_desig=driver.find_element_by_id("qsb-keyword-sugg")

In [218]:
#Sending required key text to the element found.
search_desig.send_keys("Data Scientist")

In [219]:
#do click using XPath function
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [71]:
#finding the element for check-box of location filter "Delhi/NCR"
check_box=driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']//i")
#Checking the check-box
check_box.click()

In [72]:
#finding the element for check-box of salary filter "3-6 lakhs"
check_sal=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']//i")
#Checking the check-box
check_sal.click()

In [73]:
#Extracting all the element tags for job titles
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [74]:
#Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above and extract first 10 job titles text.
job_titles=[]
for i in job_tags[0:10]:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Excellent opportunity For Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 "Data Scientist - Noida/ B'lore",
 'Data Scientist']

In [75]:
#Now, we will extract all the tags where we have Location of the job.
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [77]:
#Now, we have all the tags for Job Location. 
#We will extract the text of first 10 from these tags one by one by looping over these tags.
location_list=[]
for i in location[0:10]:
    location_list.append(i.text)
location_list

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [78]:
#Now, lets extract all the tags having the company name
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [79]:
#With this, we have all the tags in which there are company names.
#Now, lets extract the text of first 10 from these tags one by one using loop.
company_list=[]
for i in company[0:10]:
    company_list.append(i.text)
company_list

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Ravgins International Pvt. Ltd.',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Cloudstrats Technologies Private Limited']

In [80]:
##So lets extract all the tags having the experience required.
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [81]:
#Extracting text from the tags one by one using loop.
exp_list=[]
for i in exp[0:10]:
    exp_list.append(i.text)
exp_list

['0-3 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '5-8 Yrs']

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [82]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Locations']=location_list
jobs['Companies']=company_list
jobs['Experience Required']=exp_list

In [83]:
jobs

,Title,Locations,Companies,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs
4,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-5 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
6,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
7,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
8,Data Scientist - Noida/ B'lore,"Noida, Bangalore/Bengaluru",NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Cloudstrats Technologies Private Limited,5-8 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [97]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [98]:
#Getting the required webpage
url2="https://www.glassdoor.co.in/index.htm"
driver.get(url2)

In [99]:
#Creating empty list for company_name and No. of days ago when job was posted
company_name=[]
days=[]

In [100]:
#finding element tag for the designation search bar
desig=driver.find_element_by_id("sc.keyword")

#sending required text to the element found
desig.send_keys("Data Scientist")

In [101]:
#importing library for the backspace key
from selenium.webdriver.common.keys import Keys

In [102]:
#finding element tag for the location search bar using for loop and clearing it using the BACK_SPACE key
for i in range(5):

    driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input").send_keys(Keys.BACK_SPACE)

In [103]:
#storing the element tag of the location search bar in a variable
search_field_location=driver.find_element_by_xpath("//div[@class='d-flex flex-row align-items-center']//div[3]//div[1]//input")

In [104]:
#sending required text to the location search bar
search_field_location.send_keys("Noida")

In [105]:
#finding element tag for the search button
btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")

In [106]:
#clicking on the search button element found
btn.click()

In [107]:
#finding element tags for all the company names by iterating for loop
for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span"):
    company_name.append(i.text)       #Extracting the text from the company_name tags 
    
#finding element tags for the number of days by iteraing for loop
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
    days.append(i.text)       #Extracting the text from the No. of Days tags

In [108]:
#creating empty list to fetch the urls
urls=[]

#finding element tags to extract the urls for each company page
for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']"):
    urls.append(i.get_attribute('href'))     #Extracting the text from the urls tags

In [109]:
#creating empty list for rating
rating=[]

In [110]:
#Running for loop for the first 10 urls
for j in urls[:10]:
    
    #Getting the url webpage
    driver.get(j)

    #Using the NoSuchElementException where rating tag not found
    try:
        #finding element tag for the rating of the company
        d=driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']")
        
        #Extracting the text of the ratings
        rating.append(d.text.replace('\n',' '))
    except NoSuchElementException:
        #For the pages where the rating element tag is not found, appending it with "-"
        rating.append("-")

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [112]:
jobs=pd.DataFrame({})
jobs['Company Name']=company_name[:10]
jobs['Number of days when Job was posted']=days[:10]
jobs['Rating']=rating

In [113]:
jobs

                   Company Name Number of days when Job was posted Rating
0            Apsidata Solutions                                 3d      -
1                Biz2Credit Inc                               30d+      -
2        Data Trained Education                                 1d      -
3  Salasar New Age Technologies                               30d+      -
4                      Techlive                               30d+  5.0 ★
5                         Adobe                                 6d  4.4 ★
6                 NatWest Group                                24h  3.9 ★
7                     dunnhumby                                24h  4.1 ★
8                       CRMNEXT                                11d  3.6 ★
9                      Ericsson                                13d  4.1 ★

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [369]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [370]:
#Getting the required webpage
url2="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url2)

In [352]:
#finding element tag for Job Title field bar
search_job=driver.find_element_by_id("KeywordSearch")

#Sending required key text to the element found.
search_job.send_keys("Data Scientist")

In [353]:
#finding element tag for Location field bar
search_loc=driver.find_element_by_id("LocationSearch")

#clearing the location field
search_loc.clear()

In [354]:
#Sending required key text to the location field.
search_loc.send_keys("Noida")

In [355]:
#Clicking on the search button
driver.find_element_by_id("HeroSearchButton").click()

In [356]:
#Creatng empty lists to store our data for the attributes
company_name=[]
min_sal=[]
max_sal=[]
avg_sal=[]
sal_no=[]

Fetching Data by running For Loop.

In [357]:
#Extracting all the element tags having company name 
for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
    company_name.append(i.text)    #Extracting text from the obtained tags and appending it to the company_name list

#Extracting all the element tags having average salary 
for i in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong'):
    avg_sal.append(i.text.replace('/n',' '))    #Extracting text from the obtained tags and appending it to the avg_sal list
    
#Extracting all the element tags having salary numbers 
for i in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
    sal_no.append(i.text)    #Extracting text from the obtained tags and appending it to the sal_no list

#Extracting all the element tags having minimum salary 
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[1]"):
    min_sal.append(i.text)   #Extracting text from the obtained tags and appending it to the min_sal list

#Extracting all the element tags having maximum salary 
for i in driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']//span[2]"):
    max_sal.append(i.text)   #Extracting text from the obtained tags and appending it to the max_sal list

In [359]:
#checking length of all the attributes
print(len(company_name))
print(len(avg_sal))
print(len(sal_no))
print(len(min_sal))
print(len(max_sal))

20
20
20
20
20

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [360]:
GlassDoorjobs=pd.DataFrame({})
GlassDoorjobs['Company']=company_name[:10]
GlassDoorjobs['Number of Salaries']=sal_no[:10]
GlassDoorjobs['Average Salary']=avg_sal[:10]
GlassDoorjobs['Min Salary']=min_sal[:10]
GlassDoorjobs['Max Salary']=max_sal[:10]
GlassDoorjobs

,Company,Number of Salaries,Average Salary,Min Salary,Max Salary
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228",₹343K,"₹1,095K"
1,Accenture,14 salaries,"₹ 11,46,533",₹577K,"₹2,213K"
2,IBM,14 salaries,"₹ 8,97,795",₹586K,"₹2,730K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288","₹1,014K","₹2,149K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [186]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [187]:
#Getting the required webpage
url="https://www.flipkart.com/"
driver.get(url)

#Giving wait time for the webpage to load
time.sleep(4)

In [188]:
#finding element tag for the search bar
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")

In [189]:
#Sending required text to the element tag found
search.send_keys("sunglasses")

In [190]:
#finding element tag for the search button
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [191]:
#Clicking on the search button tag found
search_btn.click()

In [192]:
#Creating empty lists for the data to be fetched
brands_list=[]
product_desc=[]
price=[]
disc_per=[]

Fetching the data from the first page

In [193]:
#finding element tags for the brands using for loop
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brands_list.append(i.text)       #Extracting text from the tags and append it to brands_list list
    
#finding element tags for the product description using for loop
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
    product_desc.append(i.text)      #Extracting text from the tags and append it to product_desc list
    
#finding element tags for the price using for loop
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)             #Extracting text from the tags and append it to price list
    
#finding element tags for the discount percent using for loop
for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    disc_per.append(i.text)          #Extracting text from the tags and append it to disc_per list

In [194]:
#Checking the length of all the lists
print(len(brands_list))
print(len(product_desc))
print(len(price))
print(len(disc_per))

40
40
40
40

In [195]:
#Clicking on the next page button
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

Fetching the data from the next pages

In [196]:
#Running for loop to fetch data from 2 pages
for i in (0,2):
    
    #finding element tags for the brands using for loop
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brands_list.append(j.text)        #Extracting text from the tags and append it to brands_list list
        
    #finding element tags for the product description using for loop
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_desc.append(j.text)       #Extracting text from the tags and append it to product_desc list
        
    #finding element tags for the price using for loop
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(j.text)              #Extracting text from the tags and append it to price list
        
    #finding element tags for the discount percent using for loop
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        disc_per.append(j.text)           #Extracting text from the tags and append it to disc_per list
        
    #Clicking on the next page button
    driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    time.sleep(4)     #Giving wait time for the webpage to load

In [197]:
#Checking length of all the lists
print(len(brands_list))
print(len(product_desc))
print(len(price))
print(len(disc_per))

120
120
120
120

In [204]:
glasses=pd.DataFrame({})
glasses['Brand']=brands_list[:100]
glasses['Description']=product_desc[:100]
glasses['Price']=price[:100]
glasses['Discount']=disc_per[:100]

In [205]:
glasses

,Brand,Description,Price,Discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21% off
1,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
...,...,...,...,...
95,IDEE,Gradient Aviator Sunglasses (58),"₹1,181",58% off
96,Fastrack,UV Protection Rectangular Sunglasses (56),₹698,12% off
97,AISLIN,UV Protection Oval Sunglasses (60),₹764,69% off
98,ROYAL SON,Polarized Retro Square Sunglasses (58),₹899,55% off
99,hipe,"UV Protection, Mirrored Round Sunglasses (Free...",₹219,86% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to scrape the attributes.
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [296]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [297]:
#Getting the required webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)
time.sleep(5)     #Giving wait time for the webpage to load

In [298]:
#Creating empty list to store the fetched data
rating=[]
review_sum=[]
full_review=[]

In [299]:
#Clicking to go to All Reviews page
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [300]:
#finding element tags for Ratings data on 1st page
for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
    rating.append(i.text)      #Extracting text from tags and storing it in respective Rating variable
    
#finding element tags for Review Summary data on 1st page
for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
    review_sum.append(i.text)  #Extracting text from tags and storing it in respective Review Summary variable
    
#finding element tags for Full Review data on 1st page
for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
    full_review.append(i.text) #Extracting text from tags and storing it in respective Full Review variable

In [303]:
#Clicking on Next button
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [304]:
#Running the for loop to fetch the data from multiple pages
for i in range(0,10):
    
    #Running loop to find element tags for Rating
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']"):
        rating.append(j.text)      #Extracting text from rating tags 
        
    #Running loop to find element tags for Review Summary
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review_sum.append(j.text)  #Extracting text from review summary tags 
        
    #Running loop to find element tags for Full Review
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_review.append(j.text) #Extracting text from full review tags 
        
    #Clicking to move to next page
    driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    time.sleep(4)    #Giving wait time for the webpage to load

In [305]:
#printing the length of each attribute
print(len(rating))
print(len(review_sum))
print(len(full_review))

110
110
110

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [306]:
iphone=pd.DataFrame({})
iphone['Rating']=rating[:100]
iphone['Review Sumary']=review_sum[:100]
iphone['Full Review']=full_review[:100]

In [308]:
iphone

,Rating,Review Sumary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Wonderful,Nice value for money good and best price I pho...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,4,Value-for-money,As usual a great product from Apple. but the l...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [208]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [209]:
#Getting the required webpage
url="https://www.flipkart.com/"
driver.get(url)

#Giving wait time for the webpage to load
time.sleep(4)

In [210]:
#finding element tag for the search bar
search=driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input")

In [211]:
#Sending required text to the element tag found
search.send_keys("sneakers")

In [212]:
#finding element tag for the search button
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [213]:
#Clicking on the search button tag found
btn.click()

In [214]:
#Creating empty list to store the fetched data
brand=[]
product_desc=[]
price=[]
disc_per=[]
urls=[]

Fetching the data from the first page

In [215]:
#finding element tags for the brands using for loop
for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    brand.append(i.text)               #Extracting text from the tags and append it to brand list
    
#finding element tags for the product description using for loop
for i in driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']"):
    product_desc.append(i.text)        #Extracting text from the tags and append it to product_desc list
    
#finding element tags for the price using for loop
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
    price.append(i.text)               #Extracting text from the tags and append it to price list
    
#finding element tags for the urls using for loop to fetch the discount percentage
for i in driver.find_elements_by_xpath("//a[@class='_3bPFwb']"):
    urls.append(i.get_attribute('href'))       #Extracting text from the tags and append it to ursl list

In [216]:
#Checking the length of each list
print(len(brand))
print(len(product_desc))
print(len(price))
print(len(urls))

40
40
40
40

In [217]:
#importing NoSuchElementException package
from selenium.common.exceptions import NoSuchElementException

In [218]:
#Running for loop over urls list to open each page 
for j in urls:
    
    #Getting the webpage
    driver.get(j)
    
    #Using the NoSuchElementException where discount percent tag is not found
    try:
        #finding element tag for the discount percent of the company
        d=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        
        #Extracting the text of the discount percent
        disc_per.append(d.text)
    except NoSuchElementException:
        
        #For the pages where the discount percent element tag is not found, appending it with "-"
        disc_per.append("-")

In [219]:
len(disc_per)

40

In [220]:
#Sending required text to the search bar
driver.find_element_by_xpath("//div[@class='_3OO5Xc']//input").send_keys("sneakers")

In [221]:
#Clicking on search button
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [222]:
#finding element tag for the next page button
nextpg=driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [223]:
#Clicking on next button
nextpg.click()

In [224]:
#Running for loop for the next two pages
for j in range(0,2):
    
    #finding element tags for the brands using for loop
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(i.text)       #Extracting text from the tags and append it to brand list
        
    #finding element tags for the product description using for loop
    for i in driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']"):
        product_desc.append(i.text)        #Extracting text from the tags and append it to product_desc list
        
    #finding element tags for the price using for loop
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(i.text)       #Extracting text from the tags and append it to price list
        
    #finding element tags to extract url of each sneaker using for loop
    for i in driver.find_elements_by_xpath("//a[@class='_3bPFwb']"):
        urls.append(i.get_attribute('href'))         #Extracting url from the attribute and append it to urls list
        
    #Cliking to move to the next page
    driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    time.sleep(4)         #Giving wait time for the webpage to load

In [227]:
#Running for loop over urls list to open each page 
for j in urls[40:]:
    
    #Getting the webpage
    driver.get(j)
    
    #Using the NoSuchElementException where discount percent tag is not found
    try:
        #finding element tag for the discount percent of the company
        d=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        
        #Extracting the text of the discount percent
        disc_per.append(d.text)
    except NoSuchElementException:
        
        #For the pages where the discount percent element tag is not found, appending it with "-"
        disc_per.append("-")

In [228]:
#Checking length before creating dataframe
print(len(brand))
print(len(product_desc))
print(len(price))
print(len(disc_per))

120
120
120
120

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [229]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brand
sneakers['Description']=product_desc
sneakers['Price']=price
sneakers['Discount %']=disc_per

In [235]:
sneakers

,Brand,Description,Price,Discount %
0,ROADSTER,Sneakers For Men,"₹1,919",31% off
1,Rising Wolf,Sneakers For Men,₹485,75% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
3,aadi,Sneakers For Men,₹298,70% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
115,bluemaker,casual for men (beige 06) Sneakers For Men,₹474,52% off
116,PUMA,Icon IDP Sneakers For Men,"₹1,220",63% off
117,PUMA,Trenzo II IDP Sneakers For Men,"₹1,349",55% off
118,GRSHOE,SUP FANCY IMPORTED RUNNING SHOES FOR MEN. Snea...,₹365,63% off
119,LEVI'S,INDI WISH Sneaker For Men,"₹1,999",50% off

# Q9: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [175]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [176]:
#Getting the required webpage
url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(5)

In [177]:
#Creating empty lists to store the require data
brand=[]
short_desc=[]
price=[]
urls=[]

In [178]:
#finding elemnt tag for the checkbox of color filter
color_filter=driver.find_element_by_xpath("//label[@class='common-customCheckbox']//span")

#Clicking to check the checkbox
color_filter.click()

In [179]:
#finding element tags for the price filter checkbox
price_filter=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")

In [180]:
#So we will run a loop to iterate over the tags extracted above and extracting text
for i in price_filter:
    
    #Using if-else condition to match the text with the required text
    if i.text[:21]=='Rs. 6649 to Rs. 13099':
        i.click()       #Clicking the checkbox once the required price text is found
        break           #Using break statement once its found

In [171]:
#Using for loop to run over 2 pages to extract the required data
for i in range(0,2):
    
    #finding the elements tags for the brands using for loop
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(j.text)           #Extracting text from the tags and appending it to brand list
        
    #finding the elements tags for the short_desc using for loop
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        short_desc.append(j.text)      #Extracting text from the tags and appending it to shoe description list
        
    #finding the elements tags for the url of each shoes using for loop
    for j in driver.find_elements_by_xpath("//li[@class='product-base']//a"):
        urls.append(j.get_attribute('href'))       #Extracting url from the attribute and append it to urls list
        
    #Clicking to move to the next page
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    time.sleep(4)         #Giving wait time for the webpage to load

In [172]:
#Running for loop over the urls list to fetch the price of each shoes
for i in urls:
    
    #Getting the required webpage
    driver.get(i)
    
    #finding the elements tags for the price using for loop
    for j in driver.find_element_by_xpath("//span[@class='pdp-price']"):
        price.append(j.text)       #Extracting text from the tags and appending it to price list

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [174]:
shoes=pd.DataFrame({})
shoes['Brand']=brand
shoes['Description']=short_desc
shoes['Price']=price

In [164]:
shoes

              Brand                      Description      Price
0              Nike      Men JORDAN DELTA Basketball  Rs. 12495
1              Nike        Women REACT Running Shoes   Rs. 8396
2   PUMA Motorsport    Unisex Mercedes Running Shoes   Rs. 7999
3              Nike       Men React Infinity Running  Rs. 10846
4              Nike   Women PEGASUS 37 Running Shoes   Rs. 7496
..              ...                              ...        ...
95           Reebok   Unisex Zig Kinetica II Running   Rs. 9999
96        Florsheim  Men Solid Leather Formal Derbys   Rs. 6995
97          Saint G             Leather Heeled Boots  Rs. 11800
98           ADIDAS      Men Supernova Running Shoes   Rs. 7999
99             FILA             Women Solid Sneakers   Rs. 6999

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [53]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [137]:
#Lets connect to the webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [138]:
#Getting the required webpage
driver.get("https://www.amazon.in/")

#Giving time for the webpage to load
time.sleep(4)

In [139]:
#finding element tag for the search bar
search=driver.find_element_by_id("twotabsearchtextbox")

#Sending the required text
search.send_keys("Laptop")

In [140]:
#finding element tag for the search button
btn=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']/span/input")

#Clicking the button
btn.click()

In [141]:
#Creating empty list for the required data
title=[]
ratings=[]
price=[]
urls=[]

In [142]:
#finding the element tags for the checkbox texts
icore=driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']")

In [143]:
#Running for loop over the obtained tags
for i in icore:
    
        #Using if condition to find the text matching required filter
        if i.text=='Intel Core i7':
            
            #Clicking the checkbox
            i.click()
            break     #Using the break statement once the condition is satisfied

In [144]:
#finding elements tags for all the urls
url_tag=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

#Using for loop to run over the first 5 obtained tags
for i in url_tag[:5]:
    
    #Extracting the url using the href attribute
    urls.append(i.get_attribute('href'))

In [145]:
#Clicking on Clear to go back to last page
driver.find_element_by_xpath("//a[@class='a-link-normal s-navigation-item s-navigation-clear-link']").click()

In [146]:
#Using for loop to find the element tags for the checkbox texts
for i in driver.find_elements_by_xpath("//span[@class='a-size-base a-color-base']"):
    
    #Using if condition to find the text matching required filter
    if i.text=='Intel Core i9':
        
            #Clicking the checkbox
            i.click()
            break       #Using the break statement once the condition is satisfied

In [147]:
#finding elements tags for all the urls
url_tagi9=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

#Using for loop to run over the first 5 obtained tags
for i in url_tagi9[:5]:
    
    #Extracting the url using the href attribute
    urls.append(i.get_attribute('href'))

In [148]:
#Running for loop over the each url in urls list
for i in urls:
    
    #Getting the webpage
    driver.get(i)
    
    #finding element tag for the laptop title
    d=driver.find_element_by_id("productTitle") 
    #Extracting the text from obtained tag
    title.append(d.text.replace("/n",' '))
    
    #Using the NoSuchElementException where rating tag is not found
    try:
        #finding the element tag for the rating
        r=driver.find_element_by_xpath("//a[@class='a-popover-trigger a-declarative']//i//span")
        #Extracting text from the tag obtained
        ratings.append(r.text)
        
    except NoSuchElementException:
        #Appending '-' where the price tag is not found
        ratings.append('-')
       
    #Using the NoSuchElementException where price tag is not found
    try:
        #finding the element tag for the price
        p=driver.find_element_by_id("priceblock_ourprice")
        price.append(p.text)
        
    except NoSuchElementException:
        price.append('-')

Now, we have scraped all the required data from these tags. Lets create dataframe for this scraped data.

In [151]:
laptop=pd.DataFrame({})
laptop['Title']=title
laptop['Ratings']=ratings
laptop['Price']=price

In [152]:
laptop

                                               Title Ratings          Price
0  Life Digital Laptop 15.6-inch (39.62 cms) (Int...            ₹ 47,050.00
1  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...            ₹ 83,990.00
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...                      -
3  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...            ₹ 85,990.00
4  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...            ₹ 86,926.00
5  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...          ₹ 2,99,325.00
6  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...          ₹ 2,62,990.00
7  ASUS ROG Zephyrus Duo 15, 15.6" FHD 300Hz/3ms,...       -  ₹ 2,66,990.00
8  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...          ₹ 2,48,790.00
9  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...          ₹ 2,77,490.00