# WEB SCRAPING ASSIGNMENT 4

In [38]:
#Import Libraries
import pandas as pd
import time
import selenium

# Importing selenium webdriver 
from selenium import webdriver

#Importing requests
import requests

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing ActionChains for hovering action
from selenium.webdriver.common.action_chains import ActionChains

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia: 
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the URL
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [11]:
# creating empty list for scraping data
rank=[]
name=[]
artist=[]
date=[]
views=[]

In [12]:
#Running for loop to fetch data of the top 30 most viewed videos
for i in range(1,31):
    
    # Scraping the Rank 
    r=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr[{i}]//td[1]".format(i=i))
    rank.append(r.text.split(".")[0])
    
    # Scraping the Video Name
    n=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr[{i}]//td[2]".format(i=i))
    name.append(n.text)
    
    # Scraping the Artist
    a=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr[{i}]//td[3]".format(i=i))
    artist.append(a.text)
    
    # Scraping the Date 
    d=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr[{i}]//td[5]".format(i=i))
    date.append(d.text)
    
    # Scraping Views
    v=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr[{i}]//td[4]".format(i=i))
    views.append(v.text)

In [13]:
# Creating dataframe for the scraped data of the most viewed YouTube videos
youtube=pd.DataFrame({})
youtube["Rank"]=rank
youtube["Name"]=name
youtube["Artist"]=artist
youtube["Upload Date"]=date
youtube["Views(Billion)"]=views

# Printing DataFrame
youtube

,Rank,Name,Artist,Upload Date,Views(Billion)
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.20
1,2,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.50
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.65
3,4,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.43
4,5,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.23
5,6,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.47
6,7,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,"February 27, 2018",4.45
7,8,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.45
8,9,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.27
9,10,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.16
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.10
11,12,"""Dame Tu Cosita""[37]",El Chombo,"April 5, 2018",3.54
12,13,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.54
13,14,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.46
14,15,"""Roar""[40]",Katy Perry,"September 5, 2013",3.41
15,16,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.37
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.31
17,18,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.23
18,19,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.13
19,20,"""Faded""[45]",Alan Walker,"December 3, 2015",3.12
20,21,"""Girls Like You""[46]",Maroon 5,"May 31, 2018",3.10
21,22,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.09
22,23,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.08
23,24,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.08
24,25,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.06
25,26,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.96
26,27,"""Axel F""[52]",Crazy Frog,"June 16, 2009",2.95
27,28,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.93
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.92
29,30,"""Hello""[55]",Adele,"October 22, 2015",2.87

### 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [27]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the URL
url = "https://www.bcci.tv/"
driver.get(url)

In [28]:
#object of ActionChains
a=ActionChains(driver)
#Identifying element to hover
b=driver.find_element_by_xpath("//div[@class='navigation__menu-wrapper']/nav/ul/li[1]/div[1]")
#hover over element
a.move_to_element(b).perform()
driver.find_element_by_xpath("//div[@class='navigation__menu-wrapper']/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [37]:
# creating the empty lists for scraping data
title=[]
series=[]
place=[]
date=[]
time=[]
month=[]

In [38]:
# Title
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    title.append(i.text)
    
# Series
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
    series.append(i.text)
    
# Place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(i.text)
    
# Date
for i in driver.find_elements_by_xpath("//span[@class='fixture__date']"):
    date.append(i.text.replace("\n"," "))
    
# Month
for i in driver.find_elements_by_xpath("//span[@class='fixture__month']"):
    month.append(i.text)
    
# Time
for i in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    time.append(i.text)

In [41]:
date_mon=[]
for i in range(len(date)):
    date_mon.append(date[i]+" "+month[i]) # combining the Day and Month together to make Date

In [43]:
# Creating dataframe for the scraped data of the India's International fixtures
India=pd.DataFrame({})
India["Match Title"]=title
India["Series"]=series
India["Place"]=place
India["Date"]=date_mon
India['Time']=time

# Printing DataFrame
India

,Match Title,Series,Place,Date,Time
0,ENGLAND V INDIA 2021,4th Test,"The Oval, London",02 SEPTEMBER,15:30 IST
1,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST
2,2021 ICC MEN'S T20 WORLD CUP,Match 16,"Dubai International Cricket Stadium, Dubai",24 OCTOBER,19:30 IST
3,2021 ICC MEN'S T20 WORLD CUP,Match 28,"Dubai International Cricket Stadium, Dubai",31 OCTOBER,19:30 IST
4,2021 ICC MEN'S T20 WORLD CUP,Match 33,"Sheikh Zayed Cricket Stadium, Abu Dhabi",03 NOVEMBER,19:30 IST
5,2021 ICC MEN'S T20 WORLD CUP,Match 37,"Dubai International Cricket Stadium, Dubai",05 NOVEMBER,19:30 IST
6,2021 ICC MEN'S T20 WORLD CUP,Match 42,"Dubai International Cricket Stadium, Dubai",08 NOVEMBER,19:30 IST

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [48]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the URL
url = "https://www.guru99.com/"
driver.get(url)

In [49]:
#object of ActionChains
a=ActionChains(driver)
#Identifying element to hover
b=driver.find_element_by_xpath("//div[@class='primary-menu-container header-menu-container']/ul/li[2]/a/span")
#hover over element
a.move_to_element(b).perform()
driver.find_element_by_xpath("//div[@class='primary-menu-container header-menu-container']/ul/li[2]/ul/li[12]").click()

In [50]:
#Clicking on "Selenium Exception Handling(Common Exceptions List)"
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']/strong").click()

In [51]:
# creating empty lists for scraping data
name=[]
descp=[]

# 
l=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody/tr")
for i in range(len(l)+1):
    
    # Scraping the Name
    try:  
        n=driver.find_element_by_xpath("//table[@class='table table-striped']//tbody/tr[{i}]//td[1]".format(i=i))
        name.append(n.text)
        
    except NoSuchElementException:
        name.append("-")
        
    # Scraping the Description
    try:  
        d=driver.find_element_by_xpath("//table[@class='table table-striped']//tbody/tr[{i}]//td[2]".format(i=i))
        descp.append(d.text)
        
    except NoSuchElementException:
        descp.append("-")

In [54]:
# Creating dataframe for the scraped data of selenium exception
selenium=pd.DataFrame({})
selenium["Name"]=name[2:]
selenium["Description"]=descp[2:]

# Printing Dataframe
selenium

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [209]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the statisticstime.com url
url="http://statisticstimes.com/"
driver.get(url)

In [210]:
# object of ActionChains
a = ActionChains(driver)

# Identifying element to hover
e=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")

# hover over element
a.move_to_element(e).perform()
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").click()

In [4]:
# clicking on "GDP of Indian States"
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]").click()

In [6]:
# creating empty lists for scraping data
rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share_18_19=[]
GDP=[]

In [7]:
# Scraping Rank
for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[1]"):
    rank.append(i.text)
    
# Scraping State
    for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[2]"):
    state.append(i.text)

# Scraping GSDP at current price (19-20)
for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[3]"):
    GSDP_19_20.append(i.text)
    
# Scraping GSDP at current price (18-19)
for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[4]"):
    GSDP_18_19.append(i.text)

# Scraping Share(18-19)
for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[5]"):
    share_18_19.append(i.text)

# Scraping GDP($ billion)
for i in driver.find_elements_by_xpath("//tr[@class='odd' or @class='even']//td[6]"):
    GDP.append(i.text)

In [8]:
# creating dataframe for the scraped data of India's GDP
gdp=pd.DataFrame({})
gdp["Rank"]=rank[:33]
gdp["State"]=state[:33]
gdp["GSDP at current price (19-20)"]=GSDP_19_20[:33]
gdp["GSDP at current price (18-19)"]=GSDP_18_19[:33]
gdp["Share(18-19)"]=share_18_19[:33]
gdp["GDP(billion)"]=GDP[:33]

# printing dataframe
gdp

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP(billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [211]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the Github URL
url="https://github.com/"
driver.get(url)

In [212]:
# object of ActionChains
a=ActionChains(driver)

# Identifying element to hover
e=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")

# hover over the element
a.move_to_element(e).click().perform()
driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a").click()

In [213]:
urls=[]
title_1=[]
title_2=[]
desc=[]
contri=[]
lang=[]
list1=[]

In [214]:
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(i.get_attribute('href'))
    
for i in driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']"):
    lang.append(i.text)

In [215]:
for url in urls:
    driver.get(url)
    
    t1=driver.find_element_by_xpath("//span[@class='author flex-self-stretch']/a")
    title_1.append(t1.text)
    
    t2=driver.find_element_by_xpath("//strong[@class='mr-2 flex-self-stretch']/a")
    title_2.append(t2.text)
        
    try:
        d=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        desc.append(d.text.replace("\n"," "))
    except NoSuchElementException:
        desc.append("-")
        
    try:
        if driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[6]/div/h2/a").text.split()[0]!="Contributors":
            if driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a").text.split()[0]!="Contributors":
                if driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a").text.split()[0]!="Contributors":
                    if driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[3]/div/h2/a").text.split()[0]=="Contributors":
                        c=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[3]/div/h2/a/span")
                    else:
                        c=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[2]/div/h2/a/span")
                else:
                    c=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span")
            else:
                c=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a/span")
        else:
            c=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[6]/div/h2/a/span")
        contri.append(c.text)
    except NoSuchElementException:
        contri.append("-")

In [217]:
title=[]
for i in range(len(title_1)):
    title.append(title_1[i]+"/"+title_2[i])

In [219]:
# creating dataframe for the scraped data of repository
rep=pd.DataFrame({})
rep["Repository Title"]=title[:23]
rep["Respository Description"]=desc[:23]
rep["Contributors Count"]=contri[:23]
rep["Language Used"]=lang[:23]

# printing dataframe
rep

,Repository Title,Respository Description,Contributors Count,Language Used
0,GTAmodding/re3,"GTA III, Vice City",-,C++
1,VickScarlet/lifeRestart,やり直すんだ。そして、次はうまくやる。,-,JavaScript
2,lootproject/website,Loot Project website,-,TypeScript
3,TheAlgorithms/Python,All Algorithms implemented in Python,713,Python
4,Anish-Agnihotri/dhof-loot,Scripts to collect statistics about LOOT + der...,-,JavaScript
5,TheAlgorithms/C-Plus-Plus,Collection of various algorithms in mathematic...,-,C++
6,donnemartin/system-design-primer,Learn how to design large-scale systems. Prep ...,-,Python
7,microsoft/PowerToys,Windows system utilities to maximize productivity,-,C#
8,openwrt/openwrt,This repository is a mirror of https://git.ope...,-,C
9,v2fly/v2ray-core,A platform for building proxies to bypass netw...,-,Go
10,MarlinFirmware/Marlin,Marlin is an optimized firmware for RepRap 3D ...,939,C++
11,HashLips/generative-art-opensource,Create generative art by using the canvas api ...,-,JavaScript
12,vxunderground/MalwareSourceCode,Collection of malware source code for a variet...,-,Assembly
13,metaplex-foundation/metaplex,Protocol and application framework for decentr...,-,Rust
14,armosec/kubescape,kubescape is the first tool for testing if Kub...,-,Go
15,wrfree/free,freefq账号已恢复！翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ra...,-,TypeScript
16,bespoyasov/frontend-clean-architecture,React + TypeScript app built using clean archi...,-,JavaScript
17,TheAlgorithms/Javascript,A repository for All algorithms implemented in...,152,JavaScript
18,0voice/Introduction-to-Golang,【未来服务器端编程语言】最全空降golang资料补给包（满血战斗），包含文章，书籍，作者论文...,-,Java
19,iptv-org/iptv,Collection of publicly available IPTV channels...,-,JavaScript
20,Anuken/Mindustry,A sandbox tower defense game,-,JavaScript
21,30-seconds/30-seconds-of-code,Short JavaScript code snippets for all your de...,-,C++
22,NotLuksus/nft-art-generator,A tool to generate generative NFT art projects.,-,Python

### 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening URL of billboard.com
url="https://www.billboard.com/"
driver.get(url)

In [4]:
# object of ActionChains
a=ActionChains(driver)

# Identifying element to hover
charts=driver.find_element_by_xpath("//div[@class='header__sticky__child']/header/div/ul/li[1]/a")

# hover over the element
a.move_to_element(charts).perform()
driver.find_element_by_xpath("//div[@class='header__sticky__child']/header/div/ul/li[1]/span/span/span/span[1]/ul/li[1]/a").click()

In [17]:
# creating empty lists for scraping data
songs=[]
artists=[]
lastweek_rank=[]
peak_rank=[]
weeks_on_board=[]

In [18]:
# Scraping Song Name
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    songs.append(i.text)
    
# Scraping Artist Name
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artists.append(i.text)

# Scraping Last week rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    lastweek_rank.append(i.text)

# Scraping Peak rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(i.text)

# Scraping Weeks on board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks_on_board.append(i.text)

In [20]:
# Creating dataframe for the scraped data of top 100 songs on billboard
billboard=pd.DataFrame({})
billboard["Song Name"]=songs
billboard["Artist Name"]=artists
billboard["Last Week Rank"]=lastweek_rank
billboard["Peak Rank"]=peak_rank
billboard["Weeks on Board"]=weeks_on_board

# printing dataframe
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:

A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [63]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Oprning the naukri.com URL
url="https://www.naukri.com/"
driver.get(url)

In [64]:
# Going to the Recruiters page
a=driver.find_element_by_xpath("//a[@title='Browse All Recruiters']")
driver.get(a.get_attribute('href'))

In [65]:
# Entering "Data Science" in the search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [66]:
# clicking on Search button
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [79]:
# creating empty lists for scraping data
urls=[]
name=[]
desig=[]
company=[]
skills=[]
location=[]

In [81]:
# Scraping the Recruiter's name
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)

# Scraping the URLs
for i in driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]"):
    urls.append(i.get_attribute('href'))

# Scraping the Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    desig.append(i.text)

# Scraping the Company name
for i in driver.find_elements_by_xpath("//p[@class='highlightable']//a[2]"):
    company.append(i.text)

# Scraping the Skills they hire for 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(i.text)

In [83]:
for url in urls:
    driver.get(url)
    
    # Scraping the Location
    try:
        loc=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")
        location.append(loc.text)
    except NoSuchElementException:
        location.append("-")

In [84]:
# creating dataframe for the scraped data of the recruiters
recruit=pd.DataFrame({})
recruit["Name"]=name
recruit["Designation"]=desig
recruit["Company"]=company
recruit["Skills they hire for"]=skills
recruit["Location"]=location

# printing dataframe
recruit

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [85]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the URL
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [87]:
# creating empty lists for scraping data
book_name=[]
author_name=[]
vol_sold=[]
publisher=[]
genre=[]

In [88]:
for i in range(1,101):
    
    # Scraping Book name
    bn=driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr[{i}]//td[2]".format(i=i))
    book_name.append(bn.text)
    
    # Scraping Author name
    an=driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr[{i}]//td[3]".format(i=i))
    author_name.append(an.text)
    
    # Scraping Volumes sold
    vs=driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr[{i}]//td[4]".format(i=i))
    vol_sold.append(vs.text)
    
    # Scraping Publisher name
    p=driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr[{i}]//td[5]".format(i=i))
    publisher.append(p.text)
    
    # Scraping Genre
    gen=driver.find_element_by_xpath("//table[@class='in-article sortable']//tbody//tr[{i}]//td[6]".format(i=i))
    genre.append(gen.text)

In [89]:
# Creating dataframe for the scraped data of the Books
books=pd.DataFrame({})
books["Book Name"]=book_name
books["Author Name"]=author_name
books["Volumes Sold"]=vol_sold
books["Publisher"]=publisher
books["Genre"]=genre

# printing dataframe
books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [90]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# Opening the imbd.com URL
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [91]:
# creating empty lists for scraping data
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [92]:
# Scraping TV Series Name
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    name.append(i.text)

# Scraping Year span
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]"):
    year_span.append(i.text)

# Scraping Genre of Series
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)

# Scraping Run time 
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(i.text)

# Scraping Ratings of Series
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(i.text)

# Scraping Votes for Series
for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(i.get_attribute('data-value'))

In [93]:
# Creating dataframe for the scraped data of the TV series
TVshows=pd.DataFrame({})
TVshows["Name"]=name
TVshows["Year Span"]=year_span
TVshows["Genre"]=genre
TVshows["Run Time"]=run_time
TVshows["Ratings"]=ratings
TVshows["Votes"]=votes

# printing dataframe
TVshows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,1867208
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,902812
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,894437
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,269214
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,229470
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,45479
96,A Series of Unfortunate Events,(2017– ),"Adventure, Comedy, Drama",50 min,7.8,56356
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,174334
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,36480
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,198160

### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [94]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe")

# OPening the URL
url="https://archive.ics.uci.edu/"
driver.get(url)

In [95]:
# clicking on "view all the datasets"
driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a").click()

In [98]:
# creating empty lists for scraping data
dataset=[]
datatype=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

In [99]:
for i in range(2,590):
    
    # Dataset
    ds=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[1]".format(i=i))
    dataset.append(ds.text)
    
    # Datatype
    dt=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]".format(i=i))
    datatype.append(dt.text)
    
    # Task
    t=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]".format(i=i))
    task.append(t.text)
    
    # Attribute Type
    a=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]".format(i=i))
    attribute_type.append(a.text)
    
    # No of Instances
    inst=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]".format(i=i))
    no_of_instances.append(inst.text)
    
    # No of Attribute
    na=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]".format(i=i))
    no_of_attribute.append(na.text)
        
    # Year
    y=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]".format(i=i))
    year.append(y.text)

In [100]:
# Creating dataframe of the scraped data of datasets
UCI=pd.DataFrame({})
UCI["Dataset Name"]=dataset
UCI["Data type"]=datatype
UCI["Task"]=task
UCI["Attribute Type"]=attribute_type
UCI["No of Instances"]=no_of_instances
UCI["No of Attributes"]=no_of_attribute
UCI["Year"]=year

# printing dataset
UCI

,Dataset Name,Data type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

### Thank you!