In [56]:
#Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

## 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [120]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
print(page)
#see page content
soup = BeautifulSoup(page.content)

<Response [200]>

In [121]:
print("List of all the header tags:\n",'-'*50,sep='')
#Using for loop scraping all the heading tags
for headings in soup.find_all(["h1","h2","h3"]):
    print(headings.name+" "+headings.text.strip()) #printing all the header tags

List of all the header tags:
--------------------------------------------------
h1 Main Page
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 From today's featured list
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Variants
h3 Views
h3 More
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

## 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [122]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls091520106/"
page = requests.get(url)

#see page content
soup = BeautifulSoup(page.content)

#Empty lists to scrape required data
movie_names=[]
imbd_ratings=[]
release_year=[]

#Top 100 Movie Names
name = soup.find_all("h3",class_="lister-item-header") #Getting web elements for movie names
for i in name:
    for j in i.find_all("a"):
        movie_names.append(j.text) #Getting text of the names from web elements using nested for loop

#IMBD Ratings
ratings = soup.find_all("div",class_="ipl-rating-star small") #Getting web elements for IMBD ratings
for i in ratings:
    imbd_ratings.append(i.text.replace("\n",'')) #Getting text from the web elements
    
#Year Of Release
year = soup.find_all("span",class_="lister-item-year text-muted unbold") #Getting web elements for year of release
for i in year:
    release_year.append(i.text) #Getting text for year of release

In [123]:
#Checking the lengths for each list
print(len(movie_names))
print(len(imbd_ratings))
print(len(release_year))

100
100
100

In [124]:
#Making DataFrame for IMBD's rated Top 100 Movies
IMBD_top100Movies = pd.DataFrame({})
IMBD_top100Movies["Movie Title"] = movie_names
IMBD_top100Movies["IMDB Ratings"] = imbd_ratings
IMBD_top100Movies["Year of Release"] = release_year
IMBD_top100Movies

                            Movie Title IMDB Ratings Year of Release
0              The Shawshank Redemption          9.3          (1994)
1                         The Godfather          9.2          (1972)
2                The Godfather: Part II            9          (1974)
3                       The Dark Knight            9          (2008)
4                          12 Angry Men            9          (1957)
..                                  ...          ...             ...
95                   North by Northwest          8.3          (1959)
96                   A Clockwork Orange          8.3          (1971)
97                               Snatch          8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain          8.3          (2001)
99                              The Kid          8.3          (1921)

[100 rows x 3 columns]

## 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [125]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls009997493/"
page = requests.get(url)

#see page content
soup = BeautifulSoup(page.content)

#Empty lists to store the scraped data
m_name = []
imbd_rate = []
year_release = []

#Top Indian Movie
name = soup.find_all("h3",class_="lister-item-header") #Get movie name web elements
for i in name:
    for j in i.find_all("a"):
        m_name.append(j.text) #Get text from movie name web elements
        
#IMBD Ratings
ratings = soup.find_all("div",class_="ipl-rating-star small") #Get ratings web elements
for i in ratings:
    imbd_rate.append(i.text.replace("\n","")) #Get text from ratings' web elements
    
#Year Of Release
year = soup.find_all("span",class_="lister-item-year text-muted unbold") #Get Year of Release web elements
for i in year:
    year_release.append(i.text) #Get text from year of release web elements

In [126]:
#Checking the lengths for each list
print(len(m_name))
print(len(imbd_rate))
print(len(year_release))

100
100
100

In [127]:
#Making DataFrame for IMBD's Top rated 100 Indian Movies
IMBD_top100_IndianMovies = pd.DataFrame({})
IMBD_top100_IndianMovies["Movie Title"] = m_name
IMBD_top100_IndianMovies["IMBD Ratings"] = imbd_rate
IMBD_top100_IndianMovies["Year Of Release"] = year_release
IMBD_top100_IndianMovies

               Movie Title IMBD Ratings Year Of Release
0          Rang De Basanti          8.1          (2006)
1                 3 Idiots          8.4          (2009)
2         Taare Zameen Par          8.4          (2007)
3           Dil Chahta Hai          8.1          (2001)
4   Swades: We, the People          8.2          (2004)
..                     ...          ...             ...
95             Wake Up Sid          7.6          (2009)
96                Rangeela          7.5          (1995)
97     Shatranj Ke Khilari          7.7          (1977)
98      Pyaar Ka Punchnama          7.6          (2011)
99           Ek Hasina Thi          7.5          (2004)

[100 rows x 3 columns]

## 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [128]:
#send get request to the webpage server to get the source code of the page
url = "https://bookpage.com/reviews/"
page = requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

urls=[] #Empty list
url_tags=soup.find_all("h4",class_="italic") #Extracting web elements for Book URLs
for i in url_tags:
    for j in i.find_all("a",href=True):
        if j.text:
            urls.append(j['href']) #Get URL from the web elements and store in list
    
#Empty lists for the required data
book_name=[]
author_name=[]
genre=[]
book_review=[]

In [129]:
#Extracted URLs
urls

['/reviews/26459-leslie-jordan-how-yall-doing-audio',
 '/reviews/26491-lisa-wells-believers-nonfiction',
 '/reviews/26534-erin-craig-small-favors-ya',
 '/reviews/26460-l-r-dorn-anatomy-desire-audio',
 '/reviews/26375-sunjeev-sahota-china-room-fiction',
 '/reviews/26426-chloe-shaw-what-dog-nonfiction',
 '/reviews/26373-anuk-arudpragasm-passage-north-fiction',
 '/reviews/26504-erica-waters-river-has-teeth-ya',
 '/reviews/26386-tahmima-anam-startup-wife-fiction',
 '/reviews/26412-john-lewis-carry-nonfiction']

In [130]:
for url in urls:
    p1=requests.get("https://bookpage.com/"+url) #send get request to each url
    soup=BeautifulSoup(p1.content)
    
    book_name.append(soup.find("h1").text.replace("\n",'').replace('★ ','')) #Get book name
    author_name.append(soup.find("h4").text.replace("\n",'')) #Get author name
    genre.append(soup.find("p",class_="genre-links").text.replace("\n",'')) # Get Genre
    book_review.append(soup.find("div",class_="article-body").text.replace("\n",'')) #Get book review

In [131]:
#Checking the lengths for each list
print(len(book_name))
print(len(author_name))
print(len(genre))
print(len(book_review))

10
10
10
10

In [132]:
#Making dataframe for Book Review
books=pd.DataFrame({})
books["Book Name"]=book_name[:5]
books['Author Name']=author_name[:5]
books["Genre"]=genre[:5]
books["Book Review"]=book_review[:5]
books

,Book Name,Author Name,Genre,Book Review
0,How Y’all Doing?,Leslie Jordan,Audio / Nonfiction / Memoir,Emmy Award winner Leslie Jordan is making the ...
1,Believers,Lisa Wells,Nonfiction / Environment / Nature,"Poet, essayist and cultural commentator Lisa W..."
2,Small Favors,Erin A. Craig,YA / YA Fiction,"In the small community of Amity Falls, 18-year..."
3,The Anatomy of Desire,"L.R. Dorn, Cast",Audio / Mystery & Suspense / Suspense,We appear to be living in a golden age of crim...
4,China Room,Sunjeev Sahota,Fiction / Literary Fiction,"Sunjeev Sahota’s brilliant second novel, the 2..."

## 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [133]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page=requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

#Empty lists for the required data
teams=[]
matches=[]
points=[]
ratings=[]
mat_points=[]

for i in soup.find_all("span",class_="u-hide-phablet"): #Extract team names
    teams.append(i.text)
    
for i in soup.find_all("td",class_="rankings-block__banner--matches"): #Extracting number of matches for first place team
    matches.append(i.text)
    
for i in soup.find_all("td",class_="rankings-block__banner--points"): #Extracting points for first place team
    points.append(i.text)
    
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"): #Extracting ratings for first place team
    ratings.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell u-center-text"): #Extracting matches and points for rest other teams
    mat_points.append(i.text)
    
#Using for loop to store matches and points separately
for i in range(0,len(mat_points)-1,2): 
    matches.append(mat_points[i]) #other teams number of matches
    points.append(mat_points[i+1]) #other teams points
    
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"): #Extracting ratings for other teams
    ratings.append(i.text)

In [134]:
#Making dataframe for Top 10 ODI teams in Mens
mens_odi=pd.DataFrame({})
mens_odi["Team Name"]=teams[:10]
mens_odi["Matches"]=matches[:10]
mens_odi["Points"]=points[:10]
mens_odi["Ratings"]=ratings[:10]
mens_odi

,Team Name,Matches,Points,Ratings
0,New Zealand,17,"2,054",121 ...
1,England,32,"3,793",119
2,Australia,25,"2,945",118
3,India,30,"3,471",116
4,South Africa,22,"2,267",103
5,Pakistan,27,"2,524",93
6,Bangladesh,29,"2,639",91
7,West Indies,27,"2,222",82
8,Sri Lanka,27,"2,071",77
9,Afghanistan,17,"1,054",62

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [135]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page=requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

#Empty lists for required data
batsmen=[]
teams=[]
ratings=[]

for i in soup.find_all("div",class_="rankings-block__banner--name-large"): #Batsmen at first place
    batsmen.append(i.text)
    
for i in soup.find_all("div",class_="rankings-block__banner--nationality"): #First place batsmen's team name
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("div",class_="rankings-block__banner--rating"): #First place batsmen's ratings
    ratings.append(i.text)
    
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"): #Extract rest other batsmen's name
    batsmen.append(i.text.replace("\n",""))
    
for i in soup.find_all("span",class_="table-body__logo-text"): #Other Batsmen's team name
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell rating"): #Other Batsmen's ratings
    ratings.append(i.text.replace("\n",""))

In [136]:
#Making the dataframe for Top 10 ODI Batsmen in men
top_batsmen=pd.DataFrame({})
top_batsmen["Player"]=batsmen[:10]
top_batsmen["Team"]=teams[:10]
top_batsmen["Ratings"]=ratings[:10]
top_batsmen

                Player                     Team Ratings
0           Babar Azam  PAK                         873
1          Virat Kohli                      IND     857
2         Rohit Sharma                      IND     825
3          Ross Taylor                       NZ     801
4          Aaron Finch                      AUS     791
5       Jonny Bairstow                      ENG     775
6         David Warner                      AUS     773
7            Shai Hope                       WI     773
8  Francois du Plessis                       SA     770
9      Kane Williamson                       NZ     754

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [137]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page=requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

#Empty lists for required data
bowlers=[]
teams=[]
ratings=[]

for i in soup.find_all("div",class_="rankings-block__banner--name-large"): #First place bowler's name
    bowlers.append(i.text)
    
for i in soup.find_all("div",class_="rankings-block__banner--nationality"): #First place bowler's team name
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("div",class_="rankings-block__banner--rating"): #First bowler's ratings
    ratings.append(i.text)
    
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"): #Scraping other bowler's name
    bowlers.append(i.text.replace("\n",""))
    
for i in soup.find_all("span",class_="table-body__logo-text"):#Scraping teams name for rest other bowlers
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell rating"): #scraping ratings for rest other bowlers
    ratings.append(i.text.replace("\n",""))

In [138]:
#Making DataFrame for Top 10 ODI bowlers in Men
top_bowlers=pd.DataFrame({})
top_bowlers["Player"]=bowlers[:10]
top_bowlers["Team"]=teams[:10]
top_bowlers["Ratings"]=ratings[:10]
top_bowlers

              Player                    Team Ratings
0        Trent Boult  NZ                         737
1       Mehedi Hasan                     BAN     713
2   Mujeeb Ur Rahman                     AFG     708
3       Chris Woakes                     ENG     700
4         Matt Henry                      NZ     691
5     Jasprit Bumrah                     IND     690
6     Josh Hazlewood                     AUS     660
7      Kagiso Rabada                      SA     651
8        Pat Cummins                     AUS     646
9  Mustafizur Rahman                     BAN     645

## 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [139]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page=requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

#Empty lists for require data
teams=[]
matches=[]
points=[]
ratings=[]
mat_points=[]

for i in soup.find_all("span",class_="u-hide-phablet"): #Extract team names
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="rankings-block__banner--matches"): #Extracting number of matches for first team
    matches.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="rankings-block__banner--points"): #Extracting number of points for first team
    points.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"): #Extracting ratings for first team
    ratings.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell u-center-text"): #Extracting matches and points for rest other teams
    mat_points.append(i.text.replace("\n",""))
    
#Using for loop to separate matches and points
for i in range(0,len(mat_points)-1,2):
    matches.append(mat_points[i]) #Number of matches for rest other teams
    points.append(mat_points[i+1]) #Points for rest other teams
    
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text.replace("\n","")) #Extracting ratings for rest other teams

In [140]:
#Making DataFrame Top 10 ODI teams in women’s cricket
womens_odi=pd.DataFrame({})
womens_odi["Team Name"]=teams[:10]
womens_odi["Matches"]=matches[:10]
womens_odi["Points"]=points[:10]
womens_odi["Ratings"]=ratings[:10]
womens_odi

,Team Name,Matches,Points,Ratings
0,Australia,18,"2,955",164 ...
1,England,20,"2,370",119
2,South Africa,24,"2,828",118
3,India,23,"2,535",110
4,New Zealand,21,"1,947",93
5,West Indies,16,"1,406",88
6,Pakistan,19,"1,358",71
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [141]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page=requests.get(url)

#See page content
soup=BeautifulSoup(page.content)

#Empty lists for the required data
batsmen=[]
teams=[]
ratings=[]

for i in soup.find_all("div",class_="rankings-block__banner--name-large"): #Scraping first player name
    batsmen.append(i.text)
    
for i in soup.find_all("div",class_="rankings-block__banner--nationality"): #Scraping first player's team name
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("div",class_="rankings-block__banner--rating"): #Scraping firt player's ratings
    ratings.append(i.text)
    
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"): #Scraping other player's names
    batsmen.append(i.text.replace("\n",""))
    
for i in soup.find_all("span",class_="table-body__logo-text"): #Scraping other player team names
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell rating"): #Scraping other player ratings
    ratings.append(i.text.replace("\n",""))

In [142]:
#Making the dataframe for Top 10 women’s ODI players
top_players=pd.DataFrame({})
top_players["Player"]=batsmen[:10]
top_players["Team"]=teams[:10]
top_players["Ratings"]=ratings[:10]
top_players

              Player                    Team Ratings
0    Stafanie Taylor  WI                         766
1        Mithali Raj                     IND     762
2        Lizelle Lee                      SA     758
3       Alyssa Healy                     AUS     756
4     Tammy Beaumont                     ENG     754
5        Meg Lanning                     AUS     723
6  Amy Satterthwaite                      NZ     715
7     Natalie Sciver                     ENG     706
8    Smriti Mandhana                     IND     701
9    Laura Wolvaardt                      SA     683

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [143]:
#send get request to the webpage server to get the source code of the page
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page=requests.get(url)

#See page content
soup=BeautifulSoup(page.content)

#Empty lists for required data
players=[]
teams=[]
ratings=[]

for i in soup.find_all("div",class_="rankings-block__banner--name-large"): #Scraping first player name
    players.append(i.text.replace("\n",""))
    
for i in soup.find_all("div",class_="rankings-block__banner--nationality"): #Scraping first player's team name
    teams.append(i.text.replace("\n",""))

for i in soup.find_all("div",class_="rankings-block__banner--rating"): #Scraping first player's ratings
    ratings.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"): #Scraping rest other players name
    players.append(i.text.replace("\n",""))
    
for i in soup.find_all("span",class_="table-body__logo-text"): #Scraping rest other player team names
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell rating"): #Scraping rest player ratings
    ratings.append(i.text.replace("\n",""))

In [144]:
#Making DataFrame for Top 10 women’s ODI all-rounder
all_rounders=pd.DataFrame({})
all_rounders["Player"]=players[:10]
all_rounders["Team"]=teams[:10]
all_rounders["Ratings"]=ratings[:10]
all_rounders

             Player                    Team Ratings
0   Stafanie Taylor  WI                         435
1    Marizanne Kapp                      SA     418
2      Ellyse Perry                     AUS     418
3    Natalie Sciver                     ENG     365
4     Deepti Sharma                     IND     331
5     Jess Jonassen                     AUS     307
6  Ashleigh Gardner                     AUS     252
7  Dane van Niekerk                      SA     243
8     Sophie Devine                      NZ     242
9   Katherine Brunt                     ENG     239

## 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [62]:
#send get request to the webpage server to get the source code of the page
url="https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_2"
page=requests.get(url)

#See page content
soup=BeautifulSoup(page.content)

#Empty lists for the required data
urls=[]
product=[]
price=[]
image_url=[]
avg_rating=[]

for i in soup.find_all("span",class_="a-size-medium a-color-base a-text-normal"): #Scraping the product name
    product_name.append(i.text)

for i in soup.find_all("span",class_="a-price-whole"): #Scraping price of the phone
    price.append(i.text)
for i in soup.find_all("span",class_="a-icon-alt"): #Scraping the average rating
    avg_rating.append(i.text)
    
for i in soup.find_all("img",class_="s-image"): #Scraping Image URL
    img_url.append(i.get("src"))

In [63]:
#Checking the length of each list
print(len(product_name))
print(len(price))
print(len(avg_rating))
print(len(img_url))

80
15
20
80

Note: I got Response 503, hence the entire data was not scraped.

In [64]:
#Make dataframe mobile phones under Rs.20,000 on Amazon
phones=pd.DataFrame({})
phones["Product Name"]=product_name[:15]
phones["Price"]=price[:15]
phones["Rating"]=avg_rating[:15]
phones["Image URL"]=img_url[:15]
phones

,Product Name,Price,Rating,Image URL
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
1,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","8,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
2,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","10,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71A9Vo1Bat...
3,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","12,490",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71GQUxuSpn...
4,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","9,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61CnyJ-IbM...
5,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","11,499",4.1 out of 5 stars,https://m.media-amazon.com/images/I/710jkZNub3...
6,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","8,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71X5I1cVfb...
7,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","9,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/716nHhG9SW...
8,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...","7,799",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71U2SiHgbi...
9,Redmi 9A(Midnight Black 3GB RAM 32GB Storage) ...,"12,490",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
10,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","6,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71KCwNV6Mu...
11,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"5,498",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
12,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","6,999",3.1 out of 5 stars,https://m.media-amazon.com/images/I/41QsvcpKaZ...
13,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,"12,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
14,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor...","12,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71SSmaLA7x...

## 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [150]:
#send get request to the webpage server to get the source code of the page
url="https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.YPU3CegzbIU"
page=requests.get(url)

#See page content
soup=BeautifulSoup(page.content)

#Empty Lists for required data
period=[]
short_desc=[]
temp=[]
description=[]

#Period
for i in soup.find_all("div",class_="col-sm-2 forecast-label"):
    period.append(i.text) #Extracting Period
    
#Short Description and Temperature
for i in soup.find_all("p",class_="short-desc"):
    short_desc.append(i.get_text(separator=" ").strip()) #Extracting short description using get_text separator as to eliminate line break
    
    temp.append(i.next_sibling.text) #Extracting temperature

#Description
for i in soup.find_all("div",class_="col-sm-10 forecast-text"):
    description.append(i.text) #Extracting Description

In [151]:
#Making DataFrame for Weather Forecast of San Francisco
weather=pd.DataFrame({})
weather["Period"]=period[:9]
weather["Short Description"]=short_desc[:9]
weather["Temperature"]=temp[:9]
weather["Description"]=description[:9]
weather

,Period,Short Description,Temperature,Description
0,Today,Mostly Sunny then Sunny and Breezy,High: 66 °F,"Sunny, with a high near 66. Breezy, with a wes..."
1,Tonight,Partly Cloudy,Low: 55 °F,"Partly cloudy, with a low around 55. West sout..."
2,Tuesday,Mostly Sunny then Sunny and Breezy,High: 68 °F,"Sunny, with a high near 68. Breezy, with a wes..."
3,Tuesday Night,Partly Cloudy and Breezy,Low: 54 °F,"Partly cloudy, with a low around 54. Breezy, w..."
4,Wednesday,Mostly Sunny then Sunny and Breezy,High: 65 °F,"Mostly sunny, with a high near 65. Breezy, wit..."
5,Wednesday Night,Partly Cloudy and Breezy then Mostly Cloudy,Low: 53 °F,"Partly cloudy, with a low around 53. Breezy."
6,Thursday,Mostly Sunny,High: 65 °F,"Mostly sunny, with a high near 65."
7,Thursday Night,Partly Cloudy,Low: 53 °F,"Partly cloudy, with a low around 53."
8,Friday,Mostly Sunny,High: 65 °F,"Mostly sunny, with a high near 65."

## 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [152]:
#send get request to the webpage server to get the source code of the page
url="https://internshala.com/fresher-jobs/"
page=requests.get(url)

#see page content
soup=BeautifulSoup(page.content)

#Empty lists for the required data
job_title=[]
company_name=[]
for_ctc=[]
ctc=[]
date=[]

#Job Titles
for i in soup.find_all("div",class_="heading_4_5 profile"):
    for j in i.find_all("a"):
        job_title.append(j.text) #Scraping job titles

#Company Names
for i in soup.find_all("div",class_="heading_6 company_name"):
    for j in i.find_all("a"):
        company_name.append(j.text.replace("\n","")) #Scraping Company Names
    
#CTC and Apple By dates
for i in soup.find_all("div",class_="item_body"):
    for_ctc.append(i.text.replace("\t","").replace("\n","")) #Scraping CTC and Apply By dates together
    
#Separating the CTC and Appy By dates to their respective lists
for i in range(1,len(for_ctc),3): 
    ctc.append(for_ctc[i]) # CTC 
    date.append(for_ctc[i+1]) # Apply By dates

In [153]:
#Making dataframe for Freshers Job Listings
fresher_jobs=pd.DataFrame({})
fresher_jobs["Job Title"]=job_title
fresher_jobs["Company"]=company_name
fresher_jobs["CTC"]=ctc
fresher_jobs["Apply By"]=date
fresher_jobs

,Job Title,Company,CTC,Apply By
0,Customer Success Executive,Printrove Products Pri...,3 LPA ...,16 Aug' 21
1,Advanced Math Content Writer,Digituala Lab Enterpri...,3 - 4 LPA ...,16 Aug' 21
2,Clinical Research Coordinator,GastroLab India Privat...,3 LPA ...,16 Aug' 21
3,Graphic Designer,MiM-Essay ...,4 - 5 LPA ...,16 Aug' 21
4,Reactjs Developer,Aptagrim Consulting LL...,3 - 4.5 LPA ...,16 Aug' 21
5,Human Resources (HR) Manager,Best Roadways Limited ...,3 LPA ...,16 Aug' 21
6,Software Developer,Triny.io ...,3 - 6 LPA ...,15 Aug' 21
7,Full Stack Developer,Twurs,7.77 LPA ...,15 Aug' 21
8,Junior Search Engine Optimization (SEO) Specia...,Karthikk Vijay ...,4 - 7 LPA ...,15 Aug' 21
9,Customer Support Associate,SysCloud Technologies ...,3 - 3.5 LPA ...,15 Aug' 21
10,Junior Media & Public Relations (PR) Executive,Vivaa Consulting ...,3 - 3.5 LPA ...,14 Aug' 21
11,Business Development Executive (Inside Sales),GREedge ...,3.75 LPA ...,14 Aug' 21
12,Human Resources (HR) Associate,Cloudify Technologies ...,3 - 4 LPA ...,14 Aug' 21
13,Ionic App Developer,CloutNews ...,3 LPA ...,14 Aug' 21
14,Content Writer,Ukti,3 LPA ...,14 Aug' 21
15,Junior Graphic Designer,Muskurahat Foundation ...,3 - 5 LPA ...,14 Aug' 21
16,Marketing & Communications Associate,Girl Power Talk ...,3.4 - 4.8 LPA ...,13 Aug' 21
17,Full Stack Developer,Jamocha Tech Private L...,5 LPA ...,13 Aug' 21
18,Business Development Executive,Vegalmedia ...,3 LPA ...,13 Aug' 21
19,Node.js Developer,Infoware ...,3 - 4.5 LPA ...,13 Aug' 21
20,Fashion Designer,Sleep Love ...,3 - 3.5 LPA ...,13 Aug' 21
21,Electronics Engineer,RXN Electric Private L...,5 - 7 LPA ...,14 Aug' 21
22,Product Management Trainee,Agrometrics Analytics ...,3 - 4 LPA ...,13 Aug' 21
23,General Management Trainee,Clopen Research ...,3 - 4 LPA ...,13 Aug' 21
24,Android App Developer,Medcords Healthcare So...,3.6 - 5 LPA ...,12 Aug' 21
25,Senior/Junior Software Engineer,QuikieApps ...,3 - 6 LPA ...,13 Aug' 21
26,Data Analytics Engineer,Shape.AI ...,4 - 4.5 LPA ...,12 Aug' 21
27,Machine Learning Engineer,Shape.AI ...,4 - 5 LPA ...,12 Aug' 21
28,Trainee Engineer,Impressico Business So...,3 LPA ...,12 Aug' 21
29,Full Stack Web Developer (MERN),Shape.AI ...,4 - 5 LPA ...,12 Aug' 21
30,UI/UX Engineer,Digiledge ...,4 - 6 LPA ...,12 Aug' 21
31,Web Developer,Girl Power Talk ...,3.4 - 4.8 LPA ...,12 Aug' 21
32,UI/UX Designer,Girl Power Talk ...,3.4 - 4.8 LPA ...,12 Aug' 21
33,Content Writer,Girl Power Talk ...,3.4 - 4.8 LPA ...,12 Aug' 21
34,Digital Marketing Specialist,Clocr Inc. ...,3 - 5 LPA ...,11 Aug' 21
35,Digital Marketing Associate - Content,REALBRIDGE ...,3 LPA ...,11 Aug' 21
36,Junior Network Engineer,Wono Inc ...,5.2 - 6 LPA ...,11 Aug' 21
37,Junior Operations Associate,Wono Inc ...,4.9 - 5.6 LPA ...,11 Aug' 21
38,Junior Design Engineer,Wono Inc ...,5.4 - 6 LPA ...,11 Aug' 21
39,Credit Analyst,Wono Inc ...,5.2 - 5.9 LPA ...,11 Aug' 21

## 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [154]:
#send get request to the webpage server to get the source code of the page
url="https://www.nobroker.in/property/sale/mumbai/Dadar?searchParam=W3sibGF0IjoxOS4wMTc3OTg5LCJsb24iOjcyLjg0NzgxMTk5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSkQ4MmdEdHZPNXpzUjBGdVpPVkJHaWtJIiwicGxhY2VOYW1lIjoiRGFkYXIifV0=&radius=2.0"
page = requests.get(url)

#See page content
soup = BeautifulSoup(page.content)

#Empty lists for the required data
h_title=[]
loc=[]
area=[]
emi=[]
price=[]
emi_pri=[]

#House Titles
for i in soup.find_all("h2",class_="heading-6 font-semi-bold nb__1AShY"):
    h_title.append(i.text) #Scraping House Titles

#Locations
for i in soup.find_all("div",class_="nb__2CMjv"):
    loc.append(i.text) #Scraping Location of the House
    
#Area of House
for i in soup.find_all("div",class_="nb__3oNyC"):
    area.append(i.text) #Scraping House Area

#EMI and Price together
for i in soup.find_all("div",class_="nb__2NPHR"):
    for j in i.find_all("div"):
        emi_pri.append(j.text) #Scraping House EMI and Price together

#Separating EMI and Price and then appending them to their respective lists
for i in range(3,len(emi_pri),7):
    emi.append(emi_pri[i]) #EMI
    price.append(emi_pri[i+2]) #Price

In [155]:
#Checking the lengths for each list
print(len(h_title))
print(len(loc))
print(len(area))
print(len(emi))
print(len(price))

10
10
10
10
10

In [156]:
#Making DataFrame for the House Details
house=pd.DataFrame({})
house["Title"]=h_title
house["Location"]=loc
house["Area"]=area
house["EMI"]=emi
house["Price"]=price
house

,Title,Location,Area,EMI,Price
0,2 BHK Flat For Sale In Omkar Om Residency C...,Near Bhoiwada Court Behind TATA Cancer Hospital,"1,055 sqft",₹1.66 Lacs/Month,₹2.9 Crores
1,1 BHK Flat For Sale In Landmark Chs In Dadar...,opp wadala telephone exchange naigaon Dadar East,675 sqft,₹1.32 Lacs/Month,₹2.3 Crores
2,3 BHK Apartment For Sale In Bombay Realty Ic...,Bombay Realty Icc ram mandir dadar,"2,151 sqft",₹4.81 Lacs/Month,₹8.4 Crores
3,1 RK Flat For Sale In Arjun Khot Wadi Vastu ...,"JK sawant marg, near Plaza Cinema",350 sqft,"₹63,045/Month",₹1.1 Crores
4,3 BHK Flat For Sale In Indrayani Complex In...,N C. Kelkar Rd Near Plaza Cinema,"1,100 sqft",₹2.72 Lacs/Month,₹4.75 Crores
5,1 BHK Flat For Sale In Mhada Society In Naig...,GD Ambekar Marg near Naigaon Police Quarters,310 sqft,"₹28,657/Month",₹50 Lacs
6,1 BHK Flat For Sale In Dadar West,"Standalone Building, Ranade Road, Near INOX Na...",350 sqft,"₹51,009/Month",₹89 Lacs
7,2 BHK Flat For Sale In The Baya Park. In Dadar,"New Samadhan Building, Tulsi Pipe Rd, Kasarava...",900 sqft,₹1.95 Lacs/Month,₹3.4 Crores
8,1 RK Flat For Sale In Mohan Naik Chs In Dada...,"Street Number 14, Old bdd chawl, Naigaon, Dada...",350 sqft,"₹40,120/Month",₹70 Lacs
9,3 BHK Flat For Sale In Matoshree Tower In Da...,"Padmabai Thakkar Rd, Kasaravadi","1,200 sqft",₹2.58 Lacs/Month,₹4.5 Crores